{% extends "base.jinja" %}
{% block base %}


<div style="width:70%;margin:auto;margin-top:15px;">
    <img style="width:100%;" class="img-thumbnail"
        src="{{url_for('static',filename='image/article/'+article.artical_img)}}">
</div>
<div class="card " style="width: calc(100% - 30px);margin:15px;">
    <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <div style="min-height: 300px;" class="card-text">{{article.content}}</div>
    </div>
    {% if current_user.is_admin %}
    <form method="post" action="{{url_for('article_controller.ubdate_article', article_id=article.id)}}">
    <button class="btn btn-primary" type="submit" style="margin:10px 30px">تعديل المقاله</button>
    </form>
    <form method="post" action="{{url_for('article_controller.delete_article', article_id=article.id)}}">
    <button class="btn btn-danger" type="submit" style="margin:10px 30px">حذف المقاله</button>
    </form>
    {% endif %}
</div>

<script src="{{url_for('static', filename='js/change-items.js')}}"></script>
{% endblock base %}