{% extends "base.jinja" %}
{% block base %}
{# صفحة الدفع #}
<div class="card" style="width: 50%; margin: auto; margin-top: 50px;">
    <div class="card-body">
        <h2 class="card-title" style="text-align: center;">الدفع</h2>
        <form action="/create-checkout-session" method="POST" id="payment-form">
            
            
        </form>
    </div>
</div>
{% endblock base %}
