{% extends "base.jinja" %}
{% block base %}

<div class="card" style="width: 50%;margin:auto;margin-top:50px;">
    <div class="card-body">
        <h2 class="card-title" style="text-align:center">تسجيل الدخول</h2>

        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{form.username.label(class="form-label requered")}}
                {{form.username(class="form-control")}}
            </div>
            <div class="mb-3">
                {{form.email.label(class="form-label requered")}}
                {{form.email(class="form-control")}}
            </div>
            <div class="mb-3">
                {{form.password.label(class="form-label requered")}}
                {{form.password(class="form-control")}}
            </div>
            <div class="mb-3">
                {{form.config_password.label(class="form-label requered")}}
                {{form.config_password(class="form-control")}}
            </div>
            <div class="mb-3">
            {{form.login(class="form-check-input")}}
            {{form.login.label(class="form-check-label")}}
            </div>

            {{form.submit(class="btn btn-success", id='buttom')}}
            <form>
    </div>
</div>
{% endblock base %}