{% extends "base.jinja" %}
{% block base %}

<div class="card" style="width: 50%;margin:auto;margin-top:50px;">
    <div class="card-body">
        <h2 class="card-title" style="text-align:center">اعادة تعيين كلمة المرور</h2>
        {%if form %}
        {#ارسالل رمز تعيين كلمة المرور بالايميل#}
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{form.email.label(class="form-label requered")}}
                {{form.email(class="form-control")}}
            </div>

            {{form.submit(class="btn btn-success", id='buttom')}}
            <form>
        {%elif resetForm %}
            {#ادخال كلمة المرور الجديدة#}
        <form method="post">
            {{ resetForm.hidden_tag() }}
            <div class="mb-3">
                {{resetForm.password.label(class="form-label requered")}}
                {{resetForm.password(class="form-control")}}
            </div>
            <div class="mb-3">
                {{resetForm.config_password.label(class="form-label requered")}}
                {{resetForm.config_password(class="form-control")}}
            </div>

            {{resetForm.submit(class="btn btn-success", id='buttom')}}
            <form>
        {%elif profileResetForm %}
            {#ادخال كلمة المرور الجديدة#}
        <form method="post">
            {{ profileResetForm.hidden_tag() }}
            <div class="mb-3">
                {{profileResetForm.old_password.label(class="form-label requered")}}
                {{profileResetForm.old_password(class="form-control")}}
            </div>
            <div class="mb-3">
                {{profileResetForm.new_password.label(class="form-label requered")}}
                {{profileResetForm.new_password(class="form-control")}}
            </div>
            <div class="mb-3">
                {{profileResetForm.config_password.label(class="form-label requered")}}
                {{profileResetForm.config_password(class="form-control")}}
            </div>

            {{profileResetForm.submit(class="btn btn-success", id='buttom')}}
            <form>

        
        {% endif %}
    </div>
</div>
{% endblock base %}