.article-page-div{
    height: fit-content;
}
.title-content{
    text-align: center;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
    padding: 20px 0px;
}
.article-page-title{
    text-align: center;
    height: calc(100vh - 56px);
    background-image: url(../image/home/book2.png);
    background-size:cover ;
    background-position: 0px 80%;
    padding-top:20% ;
    color:white;
}


.article-page-div .no-artical{
        text-align: center;
        margin: 50px 0px;
    }