{% extends "base.jinja" %}
{% block base %}

<div style="text-align: center;margin:50px 0px">
<span style="font-size: 150px;font-weight:bold">404</span>
<h2>الصفحة غير متوفرة</h2>
</div>
{% endblock base %}