{% extends "base.jinja" %}

{% block base %}
<div class="container mt-5">
    <h4>
        تم إالغاء العملية
        <a class="d-block mt-3" href="{{ url_for('busket_controller.busket') }}"> > عودة</a>
    </h4>
</div>
{% endblock %}